<div class="fireworks-container" id="fireworks-container"></div>

<div class="container" *ngIf="currentWeeklyInformation">
  <h1 class="title-maxipedia">M&#64;xipedia</h1>
  <div class="content-container">
    <div *ngIf="displaySouvenir === true" class="interaction-container">
      <div class="text-container">
        "{{currentWeeklyInformation.souvenir}}"
      </div>
      <button *ngIf="displaySearchAuthor === false" mat-fab extended (click)="displaySearchAuthor=true">
        MAIS QUI EST-CE ? 🧐 
      </button>

      <div *ngIf="displaySearchAuthor" class="search-souvenir-author-container">
        <div class="search-souvenir-author-input-container">
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>🤷‍♂️</mat-label>
            <input matInput [formControl]="authorFormControl" type="text" />
          </mat-form-field>
    
          <button mat-fab extended (click)="validateAuthor()">
            VERDICT ...
          </button>
        </div>
    
        <div class="search-souvenir-author-result-container">
          <div *ngIf="hasAuthorBeenFound === true" class="found-author-congrat-container">
            <div>Bien joué !</div>
            <div>À la semaine prochaine ✌️</div>
          </div>
          <div *ngIf="hasAuthorBeenFound === false" class="not-found-author-container">
            <img class="skull-img" src="/skull.png">
            <ng-container *ngIf="failAttempts && failAttempts >= 2">Encore</ng-container>
            <ng-container *ngFor="let attempt of failAttemptsArray(); let index = index">
              <ng-container *ngIf="index > 1"> encore </ng-container>
            </ng-container>
            Loupé !
          </div>
        </div>
      </div>
      
    </div>

    <div *ngIf="displaySouvenir === false"  class="interaction-container with-arrow">
      <h2>Fun fact de la semaine 🤓</h2>
      <div class="text-container">{{currentWeeklyInformation.funFact}}</div>
      

      <div class="triangle-container">
        <div class="triangle-content"></div>
      </div>

      <button color="primary" mat-fab extended (click)="displaySouvenir = true; generateHearts();">
        À QUEL SOUVENIR EST-IL RELIÉ ? ❤️
      </button>
    </div>
  </div>

  <div class="image-container">
    <img *ngIf="!easterEggDragon && !displaySouvenir" src="/maxipedia-sofa.png">
    <img *ngIf="!easterEggDragon && displaySouvenir" [src]="currentWeeklyInformation.image ? currentWeeklyInformation.image : '/maxipedia-souriant.png'">
    <img *ngIf="easterEggDragon" src="/max-the-dragon.png">
  </div>
  
</div>



<!--

<div class="heart-container">
    <div class="heart">
        <div class="heart-text">Your Text Here</div>
    </div>
</div>

-->